BasedOnStyle: Google

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Right
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: None
